<!DOCTYPE html>
<html>
    <head>
        <title>
           Pantilla base html
        </title>
    </head>
        <body>
        <h1>Esto es de base.html</h1>
        <h2>TITULAR DESDE BASE HTML</h2>


        {% block content %}
        <h2>Hola Mundo desde Django (tag extends)</h2>
        <h3>Con templates</h3>
        {{ request.user }}
        <br>
        {{request.user.is_authenticated}}
        {% endblock %}    
    
        
        <h1>PIE DE PAGINA DESDE BASE.html</h1>
    </body>
    </html>